* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
* {
    scroll-behavior: smooth;
}
*:focus {
    outline: none;
}
body {
    margin: 0;
}
li {
    list-style: none;
    margin-right: 40px;
}
a {
    text-decoration: none;
}
h2 {
    font-size: 30px;
}
button {
    padding: 23px 50px;
    max-width: 200px;
}
button:hover {
    cursor: pointer;
}
nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 700px;
    height: 100%;
}
.nav-head {
    display: flex;
    min-height: 50px;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.nav-head ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}
.nav-head h2 {
    margin: 0 5px;
    padding: 10px 15px;
    color: #ffffff;
    background-color: #121212;
    box-shadow: 0 1px 10px 0 #161616;
    transition: 0.5s;
}
.nav-head h2:hover {
    box-shadow: none;
}
.nav-head a {
    color: #979797;
}
.nav-head a:hover {
    color: #010101;
    font-weight: 900;
}
.nav-content {
    display: flex;
    flex-direction: column;
    margin: 200px auto auto auto;
    text-align: center;
}
.nav-content h2 {
    margin: 0;
}
.nav-head h2:hover {
    cursor: help;
}
.nav-content p {
    margin: 5px 0 40px 0;
    font-size: 11px;
    color: #888888;
    font-style: italic;
}
.nav-content button {
    align-self: center;
    color: black;
    border: 1px solid black;
    background-color: white;
    transition: 0.5s;
}
.nav-content button:hover {
    background-color: black;
    color: white;
}
.section1 {
    display: flex;
}
.section-part {
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    color: #fefefe;
    background-color: #1d1d1d;
}
.section-part p {
    font-size: 12px;
    color: #989898;
    margin: 0;
}
.section1-left-content {
    margin: 0 2.5px 0 0;
    text-align: right;
    padding: 30px 50px 0 200px;
}

.section1-right-content {
    margin: 0 0 0 2.5px;
    text-align: left;
    padding: 130px 200px 0 50px;
}
.y-2011 {
    margin-bottom: 100px;
}
.y-2012 {
    margin-bottom: 150px;
}
.y-2014 {
    margin-bottom: 250px;
}
.year {
    position: relative;
}
.section1-left-content span {
    font-size: 10px;
    position: absolute;
    color: #1d1d1d;
    padding: 3px 5px;
    background-color: #1d1d1d;
    border: 5px solid white;
    border-radius: 50%;
    right: -66px;
    top: 30px;
}
.section1-right-content span {
    font-size: 10px;
    position: absolute;
    color: #1d1d1d;
    padding: 3px 5px;
    background-color: #1d1d1d;
    border: 5px solid white;
    border-radius: 50%;
    left: -66px;
    top: 30px;
}
.y-2013 span {
    font-size: 25px;
    border: 3px solid white;
    right: -73px;
    top: 25px;
    padding: 3px 10px;
}
.section1 h2:hover span {
    cursor: pointer;
    border-color: #777777;
    transition: 0.5s;
}
.section1 h2:hover {
    cursor: pointer;
}
.for-img {
    display: flex;
    width: 100%;
    height: 300px;
    background-color: #1d1d1d;
}
.for-img img {
    width: 100%;
    height: 100%;
}
.section2 {
    display: flex;
    flex-direction: column;
    padding: 0px 150px 200px 150px;
}
.section2-description {
    text-align: center;
    justify-content: center;
}
.section2-description h3 {
    font-size: 24px;
    margin: 0;
}
.section2-description p {
    font-size: 12px;
    margin: 0 0 70px 0;
    color: #888888;
    font-style: italic;
}
.section2-content {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.card-dev {
    display: flex;
    width: 100px;
    height: 200px;
    flex-direction: column;
}
.card-dev-img {
    width: 100%;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}
.card-dev-img img {
    width: 100%;
    height: 100%;
    filter: sepia(1);
    transition: 0.5s;   
}
.card-dev-img img:hover {
    transform: scale(1.2);
    filter: sepia(0);
}
.card-low-lvl {
    padding-top: 50px;
}
.img-description h4 {
    margin: 5px 0;
}
.img-description {
    text-align: center;
}
.img-description p {
    font-size: 12px;
    color: #b3b3b3;
    margin: 0 0 10px 0;
}
.section3 {
    display: flex;
    flex-direction: column;
    min-height: 600px;
    height: 100%;
    background-color: #181818;
    transform: skewY(-7deg)
}
.section3-description {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    transform: skewY(7deg);
    text-align: center;
}
.section3-description h3 {
    color: #ffffff;
    margin: 100px 0 0 0;
}
.section3-description p {
    color: #777777;
    font-size: 12px;
    margin: 3px 0 150px 0;
    font-style: italic;
}
.section3-content {
    display: flex;
    flex-wrap: wrap;
    transform: skewY(3.5deg);
    justify-content: center;
}
.section3-card {
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: center;
    margin: 0px 10px 15px 0px;
}
.section3-card i {
    font-size: 50px;
    color: #ffffff;
    padding: 20px;
    margin: auto;
    border: 4px solid #ffffff;
    border-radius: 50%;
}
.section3-card i:hover {
    animation: moving 0.2s linear;    
}
@keyframes moving {
    0% {transform: rotate(10deg);}
    33% {transform: rotate(0deg);}
    68% {transform: rotate(-10deg);}
    100% {transform: rotate(0deg);}
}
.section3-card h4 {
    color: #ffffff;
}
.section3-card p {
    color: #313131;
    margin: 0;
}
.section3 button {
    transform: skewY(7deg);
    margin: 200px auto 150px auto;
    font-size: 12px;
    font-weight: 900;
    border: none;
    color: black;
    background-color: #ffffff;
    transition: 1s;
}
.section3 button:hover {
    box-shadow: 0 0 15px 10px #ffffff;
    animation: flicking 1s linear 0.5s infinite;
}
@keyframes flicking {
    0% {color: black;}
    50% {color: #ffffff;}
    100% {color: black;}
}
.section4 {
    padding: 150px 5px 150px 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.section4-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.section4-description h3 {
    margin: 0 0 5px 0;
    color: #1e1e1e;
}
.section4-description p {
    margin: 0 0 60px 0;
    color: #888888;
    font-size: 12px;
    font-style: italic;
}
.section4-icons {
    display: flex;
    justify-content: space-around;
    max-width: 600px;
    width: 100%;
    margin-bottom: 150px;
    padding: 0 0px 0 40px;
}
.section4-icons .icon {
    text-align: center;
    position: relative;
}
.section4-icons .icon:hover {
    top: -10px;
    text-shadow: 0px 2px 5px #777777;
}
.section4-icons i {
    font-size: 30px;
    color: #323232;
}
.section4-icons p {
    font-weight: 12px;
    color: #888888;
}
.form-container {
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.form {
    height: 50px;
    margin: 0 0 20px 0;
    text-align: center;
}
.input-textarea {
    height: 150px;
    margin-bottom: 25px;
    padding: 10px;
}
.input-button {
    max-width: 800px;
    width: 100%;
    height: 50px;
    padding: 0;
    border: none;
    background-color: #161616;
    color: #fefefe;
    font-weight: 900;
    box-shadow: 3px 3px 10px 0px #161616;
    transition: 0.5s;
}
.input-button:hover {
    box-shadow: none;
}
footer {
    text-align: center;
    color: #3b3b3b;
    font-size: 14px;
}
@media (max-width:1125px) {
    .section1-left-content {
        padding: 30px 50px 0 100px;
    }
    
    .section1-right-content {
        padding: 130px 100px 0 50px;
    }
}
@media (max-width:915px) {
    .section1-left-content {
        padding: 30px 50px 0 50px;
    }
    .section1-right-content {
        padding: 130px 50px 0 50px;
    }
}
@media (max-width:815px) {
    .section1-left-content {
        padding: 30px 50px 0 10px;
    }
    
    .section1-right-content {
        padding: 130px 10px 0 50px;
    }
    .section2 {
        padding: 0px 50px 50px 50px;
    }
}
@media (max-width:645px) {
    .for-img {
        display: flex;
        width: 100%;
        height: 200px;
    }
    .section1-right-content {
        padding: 130px 10px 0 50px;
    }
    .nav-head a {
        font-size: 12px;
    }
    .section2 {

        padding: 0px 5px 50px 5px;
    }
    .section4-icons {
        padding: 0 0px 0 10px;
    }
    .section4-icons p {
        font-size: 12px;
    }
}
@media (max-width:370px) {

    .nav-head a {
        font-size: 12px;
    }
    .nav-head li {
        list-style: none;
        margin-right: 30px;
    }
    .nav-head h2 {
        margin: 0 0;
        padding: 10px 15px;
    }
}